<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                makeTarea
            {% endblock %}
        </title>
        {% block stylesheets %}
        
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-2.1.0.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/uiutils.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery-validate.min.js')}}"></script>
            <script type="text/javascript" src="{{ asset('dist/DateTimePicker.min.js') }}"></script>
        {% endblock %}
    </body>
</html>